.team-pic {
margin-top : 4em;
width : 200px;
}
.efficient {
text-align: center;
padding-top: 10em;
padding-bottom: 10em;
display: block;
background-color : #456783;
background : cover;
font-family: "Open Sans", "Helvetica", "sans-serif";
font-size: 16px;
line-height: 1.4;
color: #333333;
}
.contact {
margin-top: 4em;
}