<div class= "container text-center">
  <div class="contact">
    <h2>Meet Our Team</h2>
    <ul class="list-inline team">
      <li>
        <%= image_tag "allo.jpeg", class: "img-circle team-pic" %>
        <h2>AllO</h2>
        <p>allo est la et la-bas sans ca ni css.a</p>
        <p><strong>al@pointvirgule.com</strong></p>
      </li>
      <li>
        <%= image_tag "olla.jpeg", class: "img-circle team-pic" %>
        <h2>OllA</h2>
        <p>olla n'a pas la-bas ahahahaaaaaaaaa</p>
        <p><strong>al@pointvirgule.com</strong></p>
      </li>
    </ul>
  </div>
</div>
  <div class="row efficient text-center">
    <h3>CONTACT US</h3>
    <p>avenue la-bas, 18456</p>
    <p>tuteperdu dansleboi</p>
    <p>4456 pepinnier</p>
    <p>allo? +3245678910</p>
    <p><i class="fa fa-envelope"></i><a href="mailto:allo@virgule.com">allo@virgule.com</a></p>
  </div>

